<!-- wp:template-part {"layout":{"inherit":true}, "slug":"header", "tagName":"header"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|xxl"} -->
<div style="height:var(--wp--preset--spacing--xxl)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">

    <!-- wp:pattern {"slug":"slick/query-loop"} /-->

</div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|xxl"} -->
<div style="height:var(--wp--preset--spacing--xxl)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"layout":{"inherit":true}, "slug":"aside", "tagName":"aside"} /-->

<!-- wp:template-part {"layout":{"inherit":true}, "slug":"footer", "tagName":"footer"} /-->

