<!-- wp:template-part {"layout":{"inherit":true}, "slug":"header", "tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|l","left":"var:preset|spacing|l","right":"var:preset|spacing|l"},"margin":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|xxl"},"blockGap":"var:preset|spacing|none"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--xl);margin-bottom:var(--wp--preset--spacing--xxl);padding-top:var(--wp--preset--spacing--l);padding-right:var(--wp--preset--spacing--l);padding-bottom:var(--wp--preset--spacing--l);padding-left:var(--wp--preset--spacing--l)">

    <!-- wp:query {"queryId":15,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
    <div class="wp-block-query">

        <!-- wp:post-template -->

            <!-- wp:post-title {"isLink":true} /-->

            <!-- wp:post-date /-->

            <!-- wp:post-excerpt {"moreText":"Read more"} /-->

        <!-- /wp:post-template -->

        <!-- wp:query-pagination -->

            <!-- wp:query-pagination-previous /-->

            <!-- wp:query-pagination-numbers /-->

            <!-- wp:query-pagination-next /-->

        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->

            <!-- wp:paragraph {"placeholder":"Aggiungi testo o blocchi da visualizzare quando la query non restituisce alcun risultato."} -->
            <p></p>
            <!-- /wp:paragraph -->

        <!-- /wp:query-no-results -->

    </div>
    <!-- /wp:query -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"layout":{"inherit":true}, "slug":"aside", "tagName":"aside"} /-->

<!-- wp:template-part {"layout":{"inherit":true}, "slug":"footer", "tagName":"footer"} /-->
